<!DOCTYPE html>
<html data-bs-theme="light" lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>calcs</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body class="text-center d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="background: linear-gradient(-45deg, #154b48, #00ffd1);height: 100vh;">
    <div class="d-xxl-flex justify-content-xxl-center">
        <div style="background: rgba(0,0,0,0.75);padding: 2vw;box-shadow: 0px 0px 13px var(--bs-body-color);border-radius: 14px;cursor: pointer;margin: 1vw;width: 40vw;border-color: rgb(95,95,95);">
            <h1 style="margin-right: 0;margin-bottom: 0;margin-left: 0;color: rgb(255,255,255);">Error 404</h1>
            <p style="color: rgb(191,191,191);">niestety żądanie nie mogło zostać obsłużone, jeśli uważasz to za błąd skontaktuj się z deweloperem, Póki co zalecamy powrót na&nbsp;<a href="/" style="color: rgb(26,94,194);text-decoration: underline;font-weight: bold;"><br><span style="color: rgb(191, 191, 191);">stronę główną</span><br><br></a></p>
        </div>
    </div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>

</html>