<!DOCTYPE html>
<html data-bs-theme="light" lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>calcs</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body class="text-center d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="background: linear-gradient(-45deg, #154b48, #00ffd1);height: 100vh;">
    <div class="d-xxl-flex justify-content-xxl-center">
        <div style="background: rgba(0,0,0,0.75);padding: 2vw;box-shadow: 0px 0px 13px var(--bs-body-color);border-radius: 14px;cursor: pointer;margin: 1vw;width: 40vw;border-color: rgb(95,95,95);">
            <h1 style="margin-right: 0;margin-bottom: 0;margin-left: 0;color: rgb(255,255,255);">Ruch elektronu w polu magnetycznym</h1><img src="{{ res_img }}" style="width: 100%;margin: 20px;">
            <h6 style="color: rgb(255,255,255);">R =&nbsp;{{ res }}</h6>
            <h6 style="color: rgb(255,0,0);">{{ error }}</h6>
        </div>
    </div>
    <div class="d-xxl-flex" style="position: absolute;top: 1vh;left: 1vw;padding: 13px;border-radius: 14px;background: rgba(0,0,0,0.75);"><a href="/poleMagnetyczne"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-chevron-left" style="border-color: rgb(255,255,255);color: rgb(255,255,255);font-size: 40px;">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
            </svg></a></div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>

</html>