<!DOCTYPE html>
<html data-bs-theme="light" lang="pl">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>calcs</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
</head>

<body class="text-center d-xxl-flex justify-content-xxl-center align-items-xxl-center" style="background: linear-gradient(-45deg, #154b48, #00ffd1);height: 100vh;">
    <div class="d-xxl-flex justify-content-xxl-center">
        <div style="background: rgba(0,0,0,0.75);padding: 2vw;box-shadow: 0px 0px 13px var(--bs-body-color);border-radius: 14px;cursor: pointer;margin: 1vw;width: 40vw;border-color: rgb(95,95,95);">
            <h1 style="margin-right: 0;margin-bottom: 0;margin-left: 0;color: rgb(255,255,255);">Przemiana Izobaryczna</h1>
            <p style="color: rgb(137,137,137);">Obliczenie pracy wykonanje przez gaz w przemianie izobarycznej</p>
            <form style="margin: 10px;" method="get" action="/przemianaIzobaryczna/compute" target="_self"><input class="form-control" type="hidden" name="vType" value="0">
                <div class="row" style="margin-top: 12px;">
                    <div class="col">
                        <div class="btn-group" role="group" id="vTypeSelector" style="margin-bottom: 10px;"><button class="btn btn-primary" type="button">V₁ i V₂ (dm)³</button><button class="btn btn-outline-primary" type="button">△V (dm)³</button></div>
                        <div class="row" id="firstDisplayOption">
                            <div class="col">
                                <div class="row">
                                    <div class="col"><input class="form-control" type="number" name="v1" placeholder="V₁" style="margin: 5px;background: rgba(244,244,244,0.54);color: rgb(35,35,35);border-color: rgb(0,0,0);" step="0.001"></div>
                                    <div class="col-xxl-2"><select class="form-select" style="background: rgba(244,244,244,0.54);color: rgb(35,35,35);border-color: rgb(0,0,0);" name="v1-multiple">
                                            <option value="1">m³</option>
                                            <option value="0.001">dm³</option>
                                            <option value="0.000001">cm³</option>
                                        </select></div>
                                </div>
                                <div class="row">
                                    <div class="col"><input class="form-control" type="number" name="v2" placeholder="V₂ " style="margin: 5px;background: rgba(244,244,244,0.54);color: rgb(35,35,35);border-color: rgb(0,0,0);" step="0.001"></div>
                                    <div class="col-xxl-2"><select class="form-select" style="background: rgba(244,244,244,0.54);color: rgb(35,35,35);border-color: rgb(0,0,0);" name="v2-multiple">
                                            <option value="1">m³</option>
                                            <option value="0.001">dm³</option>
                                            <option value="0.000001">cm³</option>
                                        </select></div>
                                </div>
                            </div>
                        </div>
                        <div class="row" id="secondDisplayOption">
                            <div class="col">
                                <div class="row">
                                    <div class="col"><input class="form-control" type="number" name="v-connected" placeholder="△V " style="margin: 5px;background: rgba(244,244,244,0.54);color: rgb(35,35,35);border-color: rgb(0,0,0);" step="0.001"></div>
                                    <div class="col-xxl-2"><select class="form-select" style="background: rgba(244,244,244,0.54);color: rgb(35,35,35);border-color: rgb(0,0,0);" name="v-connected-multiple">
                                            <option value="1">m³</option>
                                            <option value="0.001">dm³</option>
                                            <option value="0.000001">cm³</option>
                                        </select></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 12px;">
                    <div class="col"><input class="form-control" type="number" name="p" placeholder="p " style="margin: 5px;background: rgba(244,244,244,0.54);color: rgb(35,35,35);border-color: rgb(0,0,0);" step="0.001"></div>
                    <div class="col-xxl-2"><select class="form-select" style="background: rgba(244,244,244,0.54);color: rgb(35,35,35);border-color: rgb(0,0,0);" name="p-multiple">
                            <option value="1000">kPa</option>
                            <option value="100">hPa</option>
                            <option value="1">Pa</option>
                        </select></div>
                </div>
                <div class="row" style="margin-top: 12px;">
                    <div class="col" style="text-align: right;"><button class="btn btn-outline-danger" type="reset" style="margin-left: 10px;text-align: center;">Clear</button><button class="btn btn-success" type="submit" style="margin-left: 10px;text-align: center;">Calculate</button></div>
                </div>
            </form>
            <h6 style="color: rgb(255,0,0);">{{ error }}</h6>
        </div>
    </div>
    <div class="d-xxl-flex" style="position: absolute;top: 1vh;left: 1vw;padding: 13px;border-radius: 14px;background: rgba(0,0,0,0.75);"><a href="/"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-chevron-left" style="border-color: rgb(255,255,255);color: rgb(255,255,255);font-size: 40px;">
                <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"></path>
            </svg></a></div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/assets/js/script.min.js"></script>
</body>

</html>